bin
generated
/build/
/build-*/
/site/
cmake-build-debug
cmake-build-release
cmake-build-debug-coverage
/CMakeUserPresets.json

test_defines.hpp
*.scdb

!thirdparty/*/bin/

sc-machine.ini
.env
kb.bin
kb
sc-memory.log
sc-server.log
sc-machine.json
manifest.json
*.user
*.*~

.vscode
.idea
__pycache__
.venv
.DS_store
.antlr
.cache

# docs
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
