log
bin
generated
/build/
/build-*/
/site/
scripts/redis*

tools/builder/src/parser/
sc-memory/cpp/generated
sc-memory/cpp/scs/scsLexer.*
sc-memory/cpp/scs/scsParser.*
sc-memory/cpp/scs/*.tokens
*.generated.*

!thirdparty/*/bin/

sc-machine.json
manifest.json
*.user
*.*~

.vscode
__pycache__