bin
generated
/build/
/build-*/
/site/
cmake-build-debug
cmake-build-release
cmake-build-debug-coverage

!thirdparty/*/bin/

sc-machine.ini
kb.bin
kb
sc-memory.log
sc-server.log
sc-machine.json
manifest.json
*.user
*.*~

.vscode
.idea
__pycache__
.DS_store
.antlr
.cache
