[submodule "googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git

[submodule "benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git

[submodule "docs/scn"]
	path = docs/scn
	url = https://github.com/ostis-ai/scn-latex-plugin

[submodule "sc-tools/sc-component-manager"]
	path = sc-tools/sc-component-manager
	url = https://github.com/ostis-ai/sc-component-manager.git
