::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0px 0px 0px #fafafa, inset 0px 0px 0px #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 10px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0px 0px 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0px 0px 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 0px;
}

/* Pages */
.ui.segment.container-page {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 71px;
    bottom: 0px;
    display: block;
    overflow-y: auto;
    margin-top: 0px;
    box-sizing: content-box;
}

.base-page {
    height: 100%;
}

.common-view {
    height: calc(100% - 88px);
    min-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.uppercased {
    text-transform: uppercase;
}

/* SCs-editor */
#scs-editor-kb {
    width: 800px;
    height: 600px;
}