.todo {
  background-color: #E06C6C;
  border: 1px solid #AD3939;
  color: #fff;
  padding: 5px;
  font-size: 14px;
}

.todo:before {
  content: "TODO:";
  font-weight: bold;
  width: 100px;
  margin-right: 7px;
}

.note {
  background-color: #a3c69f !important;
  border: 1px solid #70936C;
}

.note code {
  background-color: #BDE0B9 !important;
  border: none;
}
