name: Build tex docs

on:
  pull_request:
    branches: [main]

jobs:
 build_docs:
    name: Build tex documentation
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile LaTeX document
        env: 
          TEXINPUTS: "./scn:"
        uses: xu-cheng/latex-action@v2
        with:
          working_directory: docs
          root_file: main.tex
