name: CI

on:
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check_pr_commits:
    name: Check commit messages
    runs-on: ubuntu-latest

    steps:
      - name: GS Commit Message Checker
        # You may pin to the exact commit or the version.
        # uses: GsActions/commit-message-checker@9d8708beab99f811c5fe3a4f98acc4b2f2ba8496
        uses: GsActions/commit-message-checker@v1
        with:
          # A regex pattern to check if a commit message is valid.
          pattern: "((\\[(builder|changelog|ci|codegen|doc|docs|python|test|tests|memory|tools|review|refactor|git|cmake)\\])+(.)+)|(Review fixes)$"
          # Expression flags change how the expression is interpreted.
          flags: # optional, default is gm
          # A error message which will be returned in case of an error.
          error: "One of commit messages or PR title have incorrect formatting. Please read the documentation: https://github.com/ostis-ai/sc-machine/blob/main/docs/dev/pr.md"
          # Setting this input to true will exclude the Pull Request title from the check.
          excludeTitle: true # optional, default is false
          # Setting this input to true will exclude the Pull Request description from the check.
          excludeDescription: true # optional, default is false
          # Setting this input to true will check all Pull Request commits
          checkAllCommitMessages: true # optional, default is false
          # you must provide GITHUB_TOKEN to this input if checkAllCommitMessages is true
          accessToken: ${{ secrets.GITHUB_TOKEN }} # optional, default is false
  run_tests:
    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {
            name: "Ubuntu latest, GCC, Sc-dictionary fs-storage",
            os: ubuntu-latest,
            file_memory: "Dictionary",
            build_type: "Debug",
            cc: "gcc",
            cxx: "g++",
            coverage: "OFF"
          }
          - {
            name: "Ubuntu latest, GCC, Sc-rocksdb fs-storage",
            os: ubuntu-latest,
            file_memory: "Rocksdb",
            build_type: "Debug",
            cc: "gcc",
            cxx: "g++",
            coverage: "OFF"
          }
          - {
            name: "Ubuntu latest, GCC, Release, Sc-dictionary fs-storage",
            os: ubuntu-latest,
            file_memory: "Dictionary",
            build_type: "Release",
            cc: "gcc",
            cxx: "g++",
            coverage: "ON"
          }
          - {
            name: "Ubuntu latest, GCC, Release, Sc-rocksdb fs-storage",
            os: ubuntu-latest,
            file_memory: "Rocksdb",
            build_type: "Release",
            cc: "gcc",
            cxx: "g++",
            coverage: "ON"
          }

    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Install dependencies
        id: install_deps
        run: scripts/install_deps_ubuntu.sh

      - name: Checking the code with clang
        run: |
          ./scripts/ci/check-formatting.sh

      - name: Build
        id: run_cmake
        env:
          CC: ${{ matrix.config.cc }}
          CCX: ${{ matrix.config.cxx }}
          FILE_MEMORY: ${{ matrix.config.file_memory }}
          BUILD_TYPE: ${{ matrix.config.build_type }}
          COVERAGE: ${{ matrix.config.coverage }}
        run: scripts/ci/make-tests.sh

      - name: Prepare coverage
        if: ${{ matrix.config.build_type == 'Release'}}
        id: prepare_coverage
        run: scripts/ci/prepare-coverage.sh

      - name: Run tests
        id: run_tests
        run: scripts/ci/run-tests.sh

      - name: Export coverage report
        if: ${{ matrix.config.build_type == 'Release'}}
        id: export_coverage
        run: scripts/ci/export-coverage.sh

      - name: Upload coverage report to CodeCov
        if: ${{ matrix.config.build_type == 'Release'}}
        uses: codecov/codecov-action@v2
        with:
          directory: ${{github.workspace}}/build
          files: coverage.info
          flags: unittests
          fail_ci_if_error: true
          name: codecov-umbrella
          verbose: true
